.question-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 20px;
}

/* .actor-image {
  border-radius: 3px;
  border: 1px solid #eee;
  padding: 2px;
  background: #6a89cc !important;
  cursor: pointer;
} */

.image-actor-container {
  display: flex;
  justify-content: space-around;
  min-width: 500px;
}

.image-actor-container img {
  border-radius: 3px;
  border: 1px solid #eee;
  padding: 4px;
  cursor: pointer;
}

.image-card.selected img {
  background-color: green;
}
